.icon-font-xs {
  font-size:12px !important;
}
.icon-font-sm {
  font-size:20px !important;
}
.icon-font-md{
  font-size: 24px !important;
}
.icon-font-lg {
  font-size:35px !important;
}
.icon-font-xl {
  font-size:55px !important;
}

/*popup override*/
.popup-container
{
  
}

.popup
{
  padding: 12px;
  border-radius: 10px !important;
  opacity: 1 !important;
  background-color: white !important;
}

.popup-head
{

}

.popup-title
{
    color: #575757;
    font-size: 30px !important;
    text-align: center;
    font-weight: 300;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
}

.popup-body
{
    color: #797979;
    font-size: 16px;
    font-weight: 300;
    /*text-align: inherit;*/
    text-align: center;
    float: none;
    margin: 0;
    padding-top: 10;
    line-height: normal; 
}

.popup-buttons .button
{
    border: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: 500 !important;
    -webkit-border-radius: 4px;
    border-radius: 5px !important;
    margin: 26px 5px 0 5px;
    cursor: pointer; 
}

.popup-buttons .button.button-clear
{
  font-size: 20px;
}
